<html>
<head>
	<title>BudayaKB Lite</title>
</head>

<body>
	{% include 'includes/_navbar.html' %}
	<h2>Ubah Budaya</h2>

	<form method="POST" action="" enctype = "multipart/form-data">
		<p>Tambah Budaya ke BudayaKB</p>
        <p>
            <label>Nama Budaya:</label>
            <input type="text" name="Nama"/>
        </p>
        <p>
            <label>Tipe Budaya:</label>
            <input type="text" name="Tipe"/>
        </p>
        <p>
            <label>Provinsi Asal Budaya:</label>
            <input type="text" name="Provinsi"/>
        </p>
        <p>
            <label>Referensi:</label>
            <input type="text" name="Referensi"/>
        </p>
        <p>
            <input type="submit" value="Cari dan ubah Budaya">
        </p>
	</form>


        {% if result is defined and result == 1 %}
        <h3>{% print result %} berhasil diubah</h3>

        <br>
        <table>
        {% for key,value in data.items() %}
            <tr>
                <td> {{ key }}:</td>
                <td> {{ value }}</td>
            </tr>
        {% endfor %}
        </table>

    {% elif result == 1 %}
        <h3>{% print result %} tidak ditemukan!</h3>
    {% endif %}
</body>
</html>
